body{
    padding: 20px 40px;
    font-size: 20px;
}

h1{
    background-color: aquamarine;
    text-align: left;
    padding-left: 60px;
    font-size: 40px;
}

.post{
    margin-left: 50px;
}

.form{
    margin-left: 30px;
    margin-bottom: 50px;
}

dd{
    margin-bottom: 20px;
}

.button{
    float: inline-start;
    margin-bottom: 60px;
    margin-left: 400px;
}

input[type="submit"]{
    border-radius: 0.5em;
    padding: 5px 10px;
    background-color: rgba(60, 229, 209, 0.3);
    
}

input[type="submit"]:hover{
    opacity: 0.85;
}

.comment{
    margin-left: 50px;
}

#article{
    margin-left: 40px;
    padding: 10px;
}

#title{
    font-size: 40px;
    margin-bottom: 30px;
}

#sentence{
    font-size: 25px;
    word-break: break-all;
}

.sentence{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.page{
    float: left;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

a.no-color-change{
    color: blue;   
}